* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  //musi byt hamburgers
  display: none;
  width: 100%;
  height: 10vh;
  ul {
    float: right;
    position: relative;
    top: 4vh;
    .nav-hide {
      display: none;
    }
    li {
      display: inline;
      padding-bottom: 20px;
      margin-right: 2vw;
      a {
        text-decoration: none;
      }
      &:hover {
        border-bottom: black solid 2px;
      }
    }
  }
}

// home page
// mobile
.home {
  // background-image: url("../images/small-home-top.jpg");
  // background-repeat: no-repeat;

  max-width: 1005px;
  min-height: 70vh;
  text-align: center;

  .home-form-wrapper {
    padding: 10vh 3vw;

    h2 {
      position: relative;
      top: 15vh;
    }

    h3 {
      position: relative;
      text-align: center;
      top: 5vh;
    }
    p {
      margin-top: 7vh;
      margin-bottom: 7vh;
    }
    .home-picker {
      display: flex;
      .picker,
      .picker-second {
        flex: 1;
        .react-date-picker__wrapper {
          width: 43vw;
        }
      }
    }
    input[type="submit"] {
      position: relative;
      letter-spacing: 1.5px;
      font-size: 1.5rem;
      margin-top: 30px;
      border-radius: 5px;
      width: 90vw;
      height: 40px;
      border: 1px solid rgb(255, 95, 90);
      color: white;
      background-color: rgb(255, 95, 90);
    }
    .home-form-selects {
      margin-top: 5vh;
      display: flex;
      .form-select {
        flex: 1;
        select {
          width: 43vw;
          background-color: transparent;
          padding: 0 2px;
          height: 31px;
          border: 1px solid black;
        }
      }
    }
  }

  // dryhy dil homepage
  .home-second {
    background-color: #fafbfc;
    min-height: 60vh;
    width: 100vw;
    padding-top: 5vh;
    border-radius: 16px 16px 0 0;
    text-align: center;
    padding-bottom: 5vh;

    h2 {
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
    .home-second-p {
      margin-bottom: 5vh;
    }
    .homepage-car {
      height: 17vh;
      background-color: #ffffff;
      font-size: 0.8rem;
      overflow: hidden;
      padding-top: 9px;
      border-bottom: 1px solid transparent;
      width: 280px;
      margin: 0 auto 10px;
      display: flex;
      justify-content: space-around;

      .homepage-car-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 1vh 5vw 0 5vw;
        justify-content: space-around;

        .homepage-car-text {
          flex: 1;
          text-align: left;
          height: 100%;

          .typ {
            font-weight: 800;
            font-size: 0.9rem;
            margin-bottom: 5px;
          }

          button {
            margin: 1vh 0;
            border-radius: 5px;
            width: 25vw;
            height: 4vh;
            color: white;
            border: white;
            background-color: rgb(255, 95, 90);
          }
        }

        .obr {
          flex: 1;
          height: 10vh;
          width: 10vw;
          display: inline;
          margin-top: 4vh;

          img {
            height: 80%;
            width: 90%;
            float: right;
          }
        }
      }
    }
  }

  // treti dil homepage
  .home-third {
    width: 100vw;
    padding-top: 5vh;
    text-align: center;
    margin-bottom: 5vh;

    h3 {
      margin-bottom: 2vh;
    }

    .home-third-faq {
      width: 80vw;
      margin: 0 auto 10px;

      .home-third-faq-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        padding: 12px 0;
        margin: 0;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid grey;

        h4 {
          width: 70vw;
        }
      }

      .home-third-faq-text {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

//browse page
//mobile
.browse {
  background-color: #fafbfc;
  width: 100vw;
  min-height: 70vh;
  .browse-container {
    background-color: white;
    width: 90vw;
    padding: 10px;
    margin: 10vh auto 0 auto;

    .broswe-filter {
      display: none;
    }
    .browse-top {
      width: 100%;
      height: 20vh;
      background-color: #424242;
    }
    .singleCar {
      border: 1px solid black;
      margin-bottom: 2vh;
      .singleCar-content {
        padding: 10px;
        .singleCar-content-img {
          img {
            max-width: 180px;
            width: 100%;
            height: auto;
          }
          .singleCar-content-tablet {
            display: none;
          }
        }

        .singleCar-content-text {
          display: flex;
          margin: 1vh auto;
          height: 5vh;
          p {
            flex: 1;
            text-align: start;
            img {
              vertical-align: bottom;
              width: 24px;
            }
          }
        }
        .singleCar-bottom {
          width: 100%;
          border: 1px blue solid;
          height: 5vh;
          margin: 2vh 0;
          p {
            float: left;
            padding-top: 10px;
          }
          button {
            float: right;
            width: 100px;
            height: 35px;
          }
        }
      }
    }
  }
}

// 404
.fourOhfour {
  min-height: 70vh;
  width: 70vw;
  font-size: 1.3rem;
  margin: 15vh auto;
  h2 {
    margin-bottom: 10vh;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// footer
// mobile
.footer {
  width: 60%;
  margin: 5vh auto;
  padding-top: 2vh;
  // border-top: 1px solid grey;
  .footer-head {
    display: none;
  }
  .one-fourth {
    flex: 1;
    list-style: none;
    display: none;
  }
  .footer-bottom {
    font-size: 0.8rem;
    text-align: center;
  }
}

// mobile

// reg / login
.auth-wrapp {
  padding: 10vh 0;
  .auth-main {
    width: 400px;
    height: 510px;
    border: none;
    border-radius: 40px;
    margin: 30px auto;
    padding: 10px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 auto;
    padding: 0;
    position: relative;

    input {
      position: relative;
      left: 75px;
      border: none;
      border: 1px solid #424242;
      margin-top: 35px;
      height: 30px;
      width: 250px;
    }

    h3 {
      color: black;
      text-align: center;
      margin-top: 25px;
      font-size: 2rem;
    }

    button {
      position: relative;
      left: 85px;
      letter-spacing: 1.5px;
      font-size: 1.5rem;
      margin-top: 30px;
      border-radius: 10px;
      width: 200px;
      height: 40px;
      color: black;
      background-color: rgb(255, 95, 90);
    }
    .helper {
      margin: 20px auto;
      font-size: 0.8rem;
    }
  }
  .other {
    margin-top: 3vh;
    text-align: center;
    font-size: 1.3rem;
  }
}

//loggin warnings
.red-text {
  color: red;
  position: relative;
  top: 10px;
  left: 80px;
}

.user,
.help {
  min-height: 60vh;
  padding-top: 10vh;
}

//TABLET
// 605px +

@media (min-width: 605px) {
  //homepage

  .home-second {
    .home-second-car-container {
      display: flex;
      flex-wrap: wrap;

      .homepage-car {
        height: 18vh;
        width: 48vw;
        .homepage-car-content {
          .homepage-car-text {
            width: 40%;
            button {
              width: 20vw;
            }
          }
          .obr {
            width: 60%;
          }
        }
      }
    }
  }

  .home-third-faq {
    width: 90vw;

    .home-third-faq-title {
      h4 {
        width: 80vw;
        text-align: left;
      }
    }
  }

  //host page
  .host {
    padding: 10vh 10vw;
    width: 60%;
    margin: 0 auto;
  }

  //Browse
  // tablet
  .browse {
    .browse-container {
      max-width: 630px;
      .singleCar {
        .singleCar-content {
          .singleCar-content-img {
            display: flex;
            border: 1px solid black;

            .singleCar-content-tablet {
              display: block;
              flex: 1;
              margin: auto 0;
              p {
                line-height: 24px;
                img {
                  width: 24px;
                  height: 24px;
                }
              }
            }
            img {
              flex: 1;
              max-width: 300px;
              height: 175px;
            }
          }

          .singleCar-content-text {
            font-size: 1.1rem;
            height: 3vh;
            p {
              text-align: center;
              img {
                width: 24px;
              }
            }
          }
          .singleCar-bottom {
            margin: 1vh 0;
            button {
              width: 150px;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

  //Footer
  .footer {
    width: 90%;
    padding: 2vh 2vw;
    .footer-head {
      font-weight: 600;
      text-align: center;
      margin-bottom: 3vh;
      display: block;
    }
    .one-fourth {
      display: flex;
      border-bottom: 1px solid grey;
      margin-top: 2vh;
      margin-bottom: 2vh;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        margin-bottom: 2vh;
        width: 30vw;
      }
    }
  }
}

//pc
// 770+
@media (min-width: 770px) {
  .nav {
    .nav-hide {
      display: inline;
    }
  }
  .auth-wrapp {
    .auth-main {
      border: 1px solid #e6e6e6;
    }
  }

  // HOME
  // pc
  .home {
    // home formular
    .home-form-wrapper {
      width: 90vw;
      min-height: 60vh;
      margin: 0 auto;

      .home-picker {
        .picker,
        .picker-second {
          flex: none;
          .react-date-picker__wrapper {
            width: 195px;
            height: 31px;
          }
        }
      }
    }

    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.1rem;
    }
    .home-form-selects {
      .form-select {
        select {
          width: 78%;
          height: 31px;
          border: 1px solid black;
        }
      }
    }

    input[type="submit"] {
      width: 90%;
      height: 50px;
      margin-top: 8vh;
    }
  }

  //pc large
  // 1000+
  @media (min-width: 1000px) {
    // homepage
    .home {
      .home-second {
        .homepage-car {
          width: 32vw;
          height: 21vh;

          .homepage-car-content {
            padding: 1vh 2vw 0 2vw;
            .homepage-car-text {
              button {
                width: 10vw;
              }
            }
          }
        }
      }
    }

    // BROWSE
    // pc large
    .browse {
      .browse-container {
        max-width: 1100px;

        .browse-filter {
          width: 270px;
          border: 1px solid blue;
          display: block;
          float: left;
          min-height: 30vh;
        }
        .singleCar {
          float: right;
          max-width: 820px;
          width: 800px;
        }
      }
    }

    // footer
    // pc large
    .footer {
      display: flex;
      .footer-large {
        flex: 1;
        .footer-head {
          font-size: 1rem;
        }
        .one-fourth {
          border: none;
          display: block;
          font-size: 0.8rem;
          li {
            width: 20vw;
          }
        }
      }
      .footer-bottom {
        display: none;
      }
    }

    .mid-bot {
      img {
        width: 40vw !important;
        float: right;
      }
      p,
      button {
        position: relative;
        top: 3vh;
        margin-right: 1vw;
      }
      button {
        width: 19vw !important;
      }
    }
  }
}
