* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: none;
}

.burger {
  border-bottom: #656262 solid 1px;
  -webkit-box-shadow: 0 3px grey;
          box-shadow: 0 3px grey;
  text-shadow: 1px 1px black;
  background-color: #0099ce;
  color: white;
  height: 64px;
  width: 100vw;
  text-align: center;
}

.burger .logo-burger {
  height: 70%;
  width: 90px;
  position: relative;
  top: 15px;
  left: 10px;
  float: left;
}

.burger h2 {
  display: inline;
  position: relative;
  text-transform: uppercase;
  top: 15px;
  font-size: 30px;
}

.burger h2 a {
  color: white;
  text-decoration: none;
}

.burger .burger-button {
  padding: 10px;
  margin-right: 2vw;
  float: right;
  margin-top: 1vh;
  position: relative;
}

.burger .hidden-style {
  right: -300px;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #0099ce;
  width: 280px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.burger .hidden-style .visible-burger-button {
  display: none;
}

.burger .hidden-style p {
  display: none;
}

.burger .hidden-style ul {
  display: none;
}

.burger .hidden-style ul li {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
  list-style-type: circle inside;
}

.burger .burger-button-hidden {
  display: none;
}

.burger .visible-style {
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid black;
  background-color: #0099ce;
  width: 100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  z-index: 20;
}

.burger .visible-style p {
  width: 100%;
  color: #c8102e;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 8vh auto 2vh auto;
  padding: 5px 5px;
}

.burger .visible-style .visible-burger-button {
  float: right;
  padding: 10px;
  margin-top: 1.3vh;
  margin-right: 2vw;
  height: 22px;
}

.burger .visible-style ul li {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
  list-style-type: none;
  text-align: center;
  height: 3vh;
}

.burger .visible-style ul li a {
  color: white;
  font-size: 22px;
}

.home {
  width: 100vw;
  max-width: 1920px;
  min-height: 70vh;
  text-align: center;
}

.home .covid {
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: white;
  color: black;
}

.home .covid h2 {
  font-size: 17px;
  margin-top: 2vh;
}

.home .covid p {
  margin: 0 5vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-size: 12px;
}

.home .home-first {
  background-image: url("../images/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: 135vh;
  min-height: 75vh;
  background-position-x: -50vw;
  color: white;
}

.home .home-first p {
  font-size: 16px;
  position: relative;
  top: 15vh;
}

.home .home-first h2 {
  position: relative;
  top: 20vh;
  text-transform: uppercase;
}

.home .home-first button {
  position: relative;
  top: 35vh;
  height: 75px;
  width: 220px;
  border-radius: 12px;
  background-color: #0099ce;
  border: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.home .home-first-info {
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 1920px;
  color: black;
  padding-bottom: 2vh;
}

.home .home-first-info p {
  font-size: 17px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: justify;
}

.home .home-first-info h3 {
  font-size: 20px;
  margin: 3vh 0;
}

.home .home-form-wrapper {
  padding: 10vh 3vw;
}

.home .home-form-wrapper h2 {
  position: relative;
  top: 15vh;
}

.home .home-form-wrapper h3 {
  position: relative;
  text-align: center;
  top: 5vh;
}

.home .home-form-wrapper p {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.home .home-form-wrapper .home-picker {
  border: 1px solid black;
  color: black;
}

.home .home-form-wrapper input[type="submit"] {
  position: relative;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  margin-top: 30px;
  border-radius: 5px;
  width: 90vw;
  height: 40px;
  border: 1px solid #ff5f5a;
  color: white;
  background-color: #ff5f5a;
}

.home .home-form-wrapper .home-form-selects {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .home-form-wrapper .home-form-selects .form-select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .home-form-wrapper .home-form-selects .form-select select {
  width: 43vw;
  background-color: transparent;
  padding: 0 2px;
  height: 31px;
  border: 1px solid black;
}

.home .home-second-info {
  width: 100%;
  background-color: #0099ce;
  color: white;
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.home .home-second-info .home-second-info-icon-box {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.home .home-second-info .home-second-info-icon-box img {
  margin-bottom: 1vh;
  background-color: white;
  border-radius: 15px;
  padding: 6px;
}

.home .home-second-info .home-second-info-icon-box p {
  padding: 1vh 5vw;
}

.home .home-second {
  background-color: #fafbfc;
  min-height: 60vh;
  width: 100vw;
  text-align: center;
  padding-bottom: 5vh;
}

.home .home-second h2 {
  padding-top: 3vh;
  margin-bottom: 3vh;
}

.home .home-second .home-second-p {
  margin-bottom: 5vh;
}

.home .home-second .homepage-car {
  height: 17vh;
  background-color: #ffffff;
  font-size: 0.8rem;
  overflow: hidden;
  padding-top: 9px;
  border-bottom: 1px solid transparent;
  margin: 0 5vw 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
}

.home .home-second .homepage-car .homepage-car-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh 5vw 0 5vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .home-second .homepage-car .homepage-car-content .homepage-car-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  height: 100%;
}

.home .home-second .homepage-car .homepage-car-content .homepage-car-text .typ {
  font-weight: 800;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.home .home-second .homepage-car .homepage-car-content .homepage-car-text button {
  margin: 1vh 0;
  border-radius: 5px;
  width: 25vw;
  height: 4vh;
  color: white;
  border: white;
  background-color: #0099ce;
}

.home .home-second .homepage-car .homepage-car-content .obr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10vh;
  width: 10vw;
  display: inline;
  margin-top: 4vh;
}

.home .home-second .homepage-car .homepage-car-content .obr img {
  height: 100%;
  width: 100%;
  float: right;
}

.home .home-third {
  width: 100vw;
  padding-top: 5vh;
  text-align: center;
  margin-bottom: 5vh;
}

.home .home-third h3 {
  margin-bottom: 2vh;
}

.home .home-third .home-third-faq {
  width: 80vw;
  margin: 0 auto 10px;
}

.home .home-third .home-third-faq .home-third-faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
  margin: 0;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
}

.home .home-third .home-third-faq .home-third-faq-title h4 {
  width: 70vw;
}

.home .home-third .home-third-faq .home-third-faq-text {
  font-size: 14px;
  line-height: 20px;
}

.osobni-udaje,
.about,
.terms {
  padding: 5vh 5vw;
}

.osobni-udaje h2,
.osobni-udaje h3,
.about h2,
.about h3,
.terms h2,
.terms h3 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.osobni-udaje p,
.about p,
.terms p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.osobni-udaje ul li,
.about ul li,
.terms ul li {
  margin-top: 1vh;
}

.car-view {
  width: 100vw;
  max-width: 1920px;
  min-height: 70vh;
}

.car-view .container {
  width: 90vw;
  padding: 10px;
  margin: 5vh auto;
}

.car-view .container .ready-slider {
  width: 1000px;
  margin: 0 auto;
}

.car-view .container .singleCar-content-pc {
  display: block;
}

.car-view .container .singleCar-content-pc h2 {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.car-view .container .singleCar-content-pc p {
  display: block;
  margin-bottom: 2vh;
  text-align: center;
}

.car-view .container .singleCar-content-pc p .bold {
  font-weight: 650;
  color: #bb4f4f;
}

.car-view .container .singleCar-content-pc .price {
  width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.car-view .container .singleCar-content-pc .price .header,
.car-view .container .singleCar-content-pc .price .price-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
}

.car-view .container .singleCar-content-pc .price .header p,
.car-view .container .singleCar-content-pc .price .price-listing p {
  padding-bottom: 6px;
  border-bottom: 1px solid #777;
  margin: 15px;
}

.car-view .container .singleCar-content-pc .text {
  margin-bottom: 4vh;
  text-align: center;
  margin-top: 5vh;
}

.car-view .container .car-form {
  margin-top: 10px;
  font-family: monospace;
  margin: 1vh auto;
  width: 360px;
  max-width: 600px;
  text-align: center;
}

.car-view .container .car-form h2 {
  text-align: center;
  margin-top: 3vh;
  padding-top: 5vh;
  margin-bottom: 3vh;
}

.car-view .container .car-form .predmet {
  margin-top: 2vh;
  margin-bottom: 15px;
}

.car-view .container .car-form .predmet .grey {
  margin-bottom: 5vh;
  color: #777;
}

.car-view .container .car-form .grey {
  margin-bottom: 5vh;
  color: #777;
}

.car-view .container .car-form h3 {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 3vh;
  color: #bb4f4f;
  text-align: center;
}

.car-view .container .car-form label,
.car-view .container .car-form p {
  display: block;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.09rem;
}

.car-view .container .car-form input {
  margin: 5px auto;
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: #e9ecef;
  border: none;
  border-radius: 12px;
  width: 360px;
  max-width: 600px;
}

.car-view .container .car-form .notes {
  height: 60px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 2vh;
}

.car-view .container .car-form .form-error {
  color: #e1251b;
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.car-view .container .car-form .buttonWrapper {
  width: 100%;
  text-align: center;
}

.car-view .container .car-form .buttonWrapper button {
  height: 45px;
  width: 40vw;
  margin-bottom: 5vh;
  border: none;
  color: white;
  font-weight: 650;
  background-color: #0099ce;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 2px 2px 3px 1px #000;
          box-shadow: 2px 2px 3px 1px #000;
  letter-spacing: 0.1rem;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 12px;
}

.pobocka {
  margin-bottom: 62vh;
}

.pobocka .pobocka-content {
  width: 100vw;
  position: relative;
  top: 60vh;
}

.pobocka .pobocka-content .form-wrapper {
  margin-top: 10px;
  padding: 0 5vw;
  font-family: monospace;
}

.pobocka .pobocka-content .form-wrapper h2 {
  text-align: center;
  margin-top: 3vh;
  padding-top: 5vh;
  margin-bottom: 3vh;
}

.pobocka .pobocka-content .form-wrapper p {
  text-align: center;
  margin-bottom: 5vh;
  color: #777;
}

.pobocka .pobocka-content .form-wrapper h3 {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 3vh;
  color: #bb4f4f;
  text-align: center;
}

.pobocka .pobocka-content .form-wrapper label {
  display: block;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.09rem;
}

.pobocka .pobocka-content .form-wrapper input {
  margin: 5px auto;
  width: 90vw;
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: #e9ecef;
  border: none;
  border-radius: 12px;
}

.pobocka .pobocka-content .form-wrapper .notes {
  height: 60px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 2vh;
}

.pobocka .pobocka-content .form-wrapper .form-error {
  color: #e1251b;
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.pobocka .pobocka-content .form-wrapper .buttonWrapper {
  width: 100%;
  text-align: center;
}

.pobocka .pobocka-content .form-wrapper .buttonWrapper button {
  height: 45px;
  width: 40vw;
  margin-bottom: 5vh;
  border: none;
  color: white;
  font-weight: 650;
  background-color: #0099ce;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 2px 2px 3px 1px #000;
          box-shadow: 2px 2px 3px 1px #000;
  letter-spacing: 0.1rem;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 12px;
}

.pobocka .pobocka-content .place {
  padding: 3vh 5vw;
}

.pobocka .pobocka-content .place h3 {
  font-size: 22px;
  margin-bottom: 2vh;
}

.pobocka .pobocka-content .place img {
  height: 20px;
  position: relative;
  top: 18px;
  left: -10px;
}

.pobocka .pobocka-content .place p {
  margin-bottom: 2vh;
  margin-left: 15px;
  line-height: 20px;
}

.pobocka .pobocka-content .place p .thick {
  font-weight: 700;
}

.pobocka .pobocka-content .hours {
  padding: 3vh 5vw;
}

.pobocka .pobocka-content .hours h3 {
  font-size: 22px;
  margin-bottom: 2vh;
}

.pobocka .pobocka-content .hours img {
  height: 20px;
  position: relative;
  top: 18px;
  left: -10px;
}

.pobocka .pobocka-content .hours p {
  margin-bottom: 2vh;
  margin-left: 15px;
  line-height: 20px;
}

.footer {
  background-color: #212529;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 2vw;
}

.footer div {
  margin-bottom: 1vh;
}

.footer div h3 {
  color: white;
  margin-bottom: 2vh;
  font-size: 16px;
}

.footer div p {
  color: #777;
  margin-bottom: 1vh;
}

.footer div p a {
  text-decoration: none;
}

.footer div p a:hover {
  text-decoration: underline;
}

.footer div ul li {
  list-style-type: none;
  margin-bottom: 1vh;
}

.footer div ul li a {
  color: #777;
  text-decoration: none;
}

.footer div ul li a:hover {
  color: white;
}

.footer .footer-media {
  margin-bottom: 2vh;
}

.footer .footer-media img {
  margin-right: 2vw;
}

.footer .footer-contact img {
  height: 20px;
  margin-right: 30px;
}

.footer .footer-contact .address {
  display: inline-block;
  position: relative;
  top: 1vh;
}

.footer .footer-contact p {
  display: inline;
  position: relative;
  top: -0.5;
}

.footer .footer-places p:hover {
  color: white;
}

.browse {
  background-color: #f8f7f7;
  width: 100vw;
  min-height: 70vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.browse .browse-container {
  background-color: #f8f8ff;
  width: 90vw;
  padding: 10px;
  min-height: 70vh;
  margin: 0 auto;
}

.browse .browse-container h2 {
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.browse .browse-container .sort-and-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.browse .browse-container .sort-and-order .sort {
  height: 45px;
  margin-bottom: 3vh;
  margin-right: 10px;
}

.browse .browse-container .sort-and-order .sort p {
  margin-right: 10px;
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: 5px;
}

.browse .browse-container .sort-and-order .sort select {
  float: right;
  padding: 4px;
  font-size: 15px;
  position: relative;
}

.browse .browse-container .sort-and-order .show-in-order button {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
}

.browse .browse-container .browse-top {
  width: 100%;
  height: 10vh;
  margin-bottom: 5vh;
}

.browse .browse-container .browse-top p {
  padding-right: 2vw;
  padding-left: 2vw;
  color: #777;
}

.browse .browse-container .singleCar {
  background-color: white;
  margin-bottom: 4vh;
}

.browse .browse-container .singleCar h3 {
  font-size: 25px;
}

.browse .browse-container .singleCar p {
  padding-top: 5px;
}

.browse .browse-container .singleCar p .bold {
  font-weight: 650;
  color: #e1251b;
}

.browse .browse-container .singleCar .singleCar-content {
  padding: 10px;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-content-img img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-tablet {
  display: none;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc {
  display: none;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1vh auto;
  height: 5vh;
  padding-top: 1vh;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-content-text p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-content-text p img {
  vertical-align: bottom;
  width: 24px;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-bottom {
  width: 100%;
  height: 5vh;
  margin: 1vh 0;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-bottom p {
  float: left;
  padding-top: 10px;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-bottom p .bold {
  font-weight: 650;
  font-size: 18px;
  color: #e1251b;
}

.browse .browse-container .singleCar .singleCar-content .singleCar-bottom button {
  float: right;
  width: 100px;
  height: 35px;
  color: white;
  background-color: #0099ce;
  border-radius: 5px;
  font-weight: 650;
}

.browse .browse-container .pagination-buttons {
  margin: 10vh auto 2vh;
  width: 10vw;
  height: 7vh;
  color: white;
  font-weight: 650;
  clear: both;
}

.browse .browse-container .pagination-buttons button {
  height: 5vh;
  width: 3vw;
  color: black;
  background-color: white;
  border-radius: 6px;
  margin-left: 1vw;
  border: 1px solid #0099ce;
}

.fourOhfour {
  min-height: 70vh;
  width: 70vw;
  font-size: 1.3rem;
  margin: 15vh auto;
}

.fourOhfour h2 {
  margin-bottom: 10vh;
}

.fourOhfour a {
  text-decoration: none;
  text-transform: uppercase;
}

.fourOhfour a:hover {
  text-decoration: underline;
}

.user {
  min-height: 60vh;
  padding-top: 5vh;
  width: 100vw;
  max-width: 1920px;
}

.user h2 {
  text-align: center;
}

.user .user-info {
  padding: 5vh 5vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.user .user-info h2 {
  text-align: center;
}

.user .user-info img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.user .user-info h2 {
  margin: 2vh 0 5vh;
  text-align: center;
}

.user .user-info .show-all-booking-to-user {
  text-align: center;
}

.user .user-info .show-all-booking-to-user .single-booking {
  width: 100%;
  margin: 2vh auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #f8f8f8;
}

.user .user-info .show-all-booking-to-user .single-booking .dates .red {
  color: #c8102e;
  font-weight: 600;
}

.user .user-info .show-all-booking-to-user .single-booking .red {
  color: #c8102e;
  font-weight: 600;
}

.user .user-info .show-all-booking-to-user .single-booking img {
  width: 60vw;
  margin-bottom: 4vh;
}

.user .user-info .show-all-booking-to-user .single-booking p {
  margin-bottom: 2vh;
}

.user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete {
  background-color: #c8102e;
  color: white;
  font-weight: 600;
  width: 40vw;
  max-width: 170px;
  height: 40px;
}

.user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation {
  width: 60vw;
  margin: 5vh auto;
}

.user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation h3 {
  margin-bottom: 3vh;
}

.user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation .delete-confirmation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation .delete-confirmation-buttons button {
  height: 40px;
  width: 40vw;
  max-width: 170px;
  background-color: #0099ce;
  color: white;
  font-weight: 650;
}

.user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation .delete-confirmation-buttons button:first-of-type {
  background-color: #c8102e;
  margin-right: 3vw;
}

@media (min-width: 605px) {
  .osobni-udaje,
  .terms,
  .about {
    width: 80vw;
    padding: 5vh 3vw;
    margin-left: auto;
    margin-right: auto;
  }
  .user .user-info .show-all-booking-to-user .single-booking img {
    max-width: 360px;
    height: 160px;
  }
  .user .user-info .show-all-booking-to-user .single-booking .dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 480px;
    margin: 0 auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .user .user-info .show-all-booking-to-user .single-booking .dates p:first-of-type {
    margin-right: 2vw;
  }
  .car-view .container .singleCar-content-pc {
    display: block;
    padding-left: 3vw;
    padding-left: 2vw;
    margin: 0 auto;
  }
  .car-view .container .singleCar-content-pc h2 {
    margin-top: 0;
    margin-bottom: 1vh;
    padding-left: 2vw;
    text-align: left;
  }
  .car-view .container .singleCar-content-pc p {
    display: block;
    padding-left: 2vw;
  }
  .car-view .container .singleCar-content-pc p .bold {
    font-weight: 650;
    color: #bb4f4f;
  }
  .car-view .container .singleCar-content-pc p:first-of-type {
    margin-bottom: 1vh;
    text-align: left;
  }
  .car-view .container .singleCar-content-pc .price {
    padding-left: 0;
    display: block;
    width: 100%;
  }
  .car-view .container .singleCar-content-pc .price .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 650;
    color: #bb4f4f;
    margin-bottom: 10px;
    border-bottom: 1px solid #777;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .car-view .container .singleCar-content-pc .price .header p {
    width: 9vw;
    border-bottom: none;
    margin-left: 1vw;
    padding-left: 1vw;
    font-size: 12px;
  }
  .car-view .container .singleCar-content-pc .price .price-listing {
    color: #777;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .car-view .container .singleCar-content-pc .price .price-listing p {
    width: 9vw;
    border-bottom: none;
    margin-left: 1vw;
    padding-left: 1vw;
    font-size: 12px;
  }
  .car-view .container .singleCar-content-pc .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3vh;
  }
  .car-view .container .singleCar-content-pc .text p {
    width: 30%;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .car-view .container .car-form {
    width: 600px;
  }
  .car-view .container .car-form input {
    width: 600px;
  }
  .pobocka {
    max-width: 1920px;
  }
  .pobocka .pobocka-content .form-wrapper {
    text-align: center;
  }
  .pobocka .pobocka-content .form-wrapper .form-error {
    margin-left: auto;
    margin-right: auto;
  }
  .pobocka .pobocka-content .form-wrapper input,
  .pobocka .pobocka-content .form-wrapper select,
  .pobocka .pobocka-content .form-wrapper p {
    width: 70vw;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .pobocka .pobocka-content .form-wrapper .buttonWrapper button {
    max-width: 350px;
    margin-bottom: 10vh;
  }
  .burger {
    display: none;
  }
  .nav {
    display: block;
    width: 100%;
    background-color: #0099ce;
    height: 10vh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #656262 solid 1px;
    -webkit-box-shadow: 0 3px grey;
            box-shadow: 0 3px grey;
  }
  .nav .logo-burger,
  .nav h2 {
    display: none;
  }
  .nav ul {
    float: right;
    position: relative;
    top: 4vh;
    display: inline;
  }
  .nav ul li {
    display: inline;
    padding-bottom: 10px;
    margin-right: 3vw;
  }
  .nav ul li a {
    text-decoration: none;
    color: white;
  }
  .nav ul li:hover {
    border-bottom: white solid 2px;
  }
  .home {
    margin-left: auto;
    margin-right: auto;
  }
  .home .covid h2 {
    font-size: 24px;
  }
  .home .covid p {
    font-size: 20px;
  }
  .home .home-first {
    background-position-x: -10vw;
  }
  .home .home-first h2 {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .home .home-first-info {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .home .home-second-info {
    padding-left: 10vw;
    padding-right: 10vw;
    width: 80vw;
    max-width: 1920px;
  }
  .home .home-second-info .home-second-info-icon-box {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
  }
  .home .home-second-info .home-second-info-icon-box p {
    padding-right: 0;
    padding-left: 0;
  }
  .home .home-second .home-second-car-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home-second .home-second-car-container .homepage-car {
    height: 18vh;
    width: 40vw;
  }
  .home .home-second .home-second-car-container .homepage-car .homepage-car-content .homepage-car-text {
    width: 40%;
  }
  .home .home-second .home-second-car-container .homepage-car .homepage-car-content .homepage-car-text button {
    width: 35vw;
    max-width: 150px;
  }
  .home .home-second .home-second-car-container .homepage-car .homepage-car-content .obr {
    width: 60%;
  }
  .home .home-second .home-second-car-container .homepage-car .homepage-car-content .obr img {
    width: 130%;
    height: 130%;
    position: relative;
    top: -4vh;
    left: 3vw;
  }
  .home .home-third-faq {
    width: 90vw;
  }
  .home .home-third-faq .home-third-faq-title h4 {
    width: 80vw;
    text-align: left;
  }
  .footer {
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 1920px;
  }
  .footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footer-content div {
    width: 25vw;
  }
  .browse {
    padding-top: 0;
  }
  .browse .browse-container {
    padding-top: 5vh;
    max-width: 630px;
    background-color: white;
  }
  .browse .browse-container .browse-top p {
    text-align: center;
  }
  .browse .browse-container .singleCar {
    border-top: 1px solid #777;
  }
  .browse .browse-container .singleCar h3,
  .browse .browse-container .singleCar p {
    padding-left: 2vw;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-tablet {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: auto 0;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-tablet img {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-tablet p {
    line-height: 24px;
    position: relative;
    top: -28px;
    left: 25px;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 300px;
    height: 175px;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-text {
    height: 3vh;
    padding-bottom: 2vh;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-text p {
    text-align: center;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-text p img {
    width: 24px;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-bottom {
    margin: 1vh 0;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-bottom button {
    width: 150px;
    font-size: 1.1rem;
    position: relative;
    top: 5px;
  }
}

@media (min-width: 700px) {
  .nav .logo-burger {
    display: block;
    height: 50%;
    width: 90px;
    position: relative;
    top: 20px;
    left: 10px;
    float: left;
  }
}

@media (min-width: 1000px) {
  .osobni-udaje,
  .terms,
  .about {
    max-width: 900px;
    min-height: 50vh;
  }
  .user .user-info .show-all-booking-to-user .single-booking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .user .user-info .show-all-booking-to-user .single-booking .car-img {
    margin: 0 0;
  }
  .user .user-info .show-all-booking-to-user .single-booking .dates {
    display: block;
    max-width: 480px;
    margin: 0 0;
  }
  .user .user-info .show-all-booking-to-user .single-booking .dates p:first-of-type {
    margin-right: 0;
  }
  .user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation {
    max-width: 170px;
    margin: 2vh auto;
  }
  .user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation h3 {
    margin-bottom: 10px;
  }
  .user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation .delete-confirmation-buttons {
    display: block;
    margin-top: 0;
  }
  .user .user-info .show-all-booking-to-user .single-booking .delete-booking-buttons .delete-confirmation .delete-confirmation-buttons button:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav div .logo-burger {
    height: 70%;
    width: 130px;
    top: 30px;
    left: 30px;
  }
  .browse {
    width: 100%;
  }
  .browse .browse-container {
    max-width: 1200px;
  }
  .browse .browse-container .singleCar {
    width: 100%;
    height: 40vh;
    border-top: none;
    border-bottom: none;
    margin-top: 10vh;
  }
  .browse .browse-container .singleCar div:first-of-type {
    margin-top: 0;
  }
  .browse .browse-container .singleCar p,
  .browse .browse-container .singleCar h3 {
    display: none;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-tablet {
    display: none;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc {
    display: block;
    padding-left: 3vw;
    padding-left: 2vw;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc h2 {
    margin-top: 0;
    margin-bottom: 1vh;
    padding-left: 2vw;
    text-align: left;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc p {
    display: block;
    padding-left: 2vw;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc p .bold {
    font-weight: 650;
    color: #bb4f4f;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc p:first-of-type {
    margin-bottom: 1vh;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc .price {
    padding-left: 2vw;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc .price .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 650;
    color: #bb4f4f;
    margin-bottom: 10px;
    border-bottom: 1px solid #777;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc .price .header p {
    width: 4vw;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc .price .price-listing {
    color: #777;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc .price .price-listing p {
    width: 4vw;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3vh;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-img .singleCar-content-pc .text p {
    width: 28%;
    margin-bottom: 2vh;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-content-text {
    border: none;
    display: none;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-bottom p {
    display: block;
    position: relative;
    top: -11vh;
  }
  .browse .browse-container .singleCar .singleCar-content .singleCar-bottom button {
    top: 0;
    width: 200px;
    height: 50px;
    float: none;
    margin-left: 110px;
  }
  .home .home-first {
    background-position-x: 0;
    background-position-y: -10vh;
    background-size: auto auto;
  }
  .home .home-first-info p {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home-second-info {
    max-width: 1920px;
  }
  .home .home-second {
    max-width: 1920px;
  }
  .home .home-second .home-second-car-container .homepage-car {
    width: 27vw;
    height: 18vh;
    margin-left: 2vw;
    margin-right: 1vw;
  }
  .home .home-second .home-second-car-container .homepage-car .homepage-car-content {
    padding: 1vh 2vw 0 2vw;
  }
  .home .home-second .home-second-car-container .homepage-car .homepage-car-content .obr img {
    left: 1vw;
  }
  .home .home-second .home-second-car-container .homepage-car .homepage-car-content .homepage-car-text button {
    width: 10vw;
  }
  .pobocka {
    position: relative;
    top: 25px;
  }
  .pobocka .pobocka-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .pobocka .pobocka-content .form-wrapper h2 {
    padding-top: 0;
    margin-top: 2vh;
  }
  .pobocka .pobocka-content .place {
    padding-top: 4vh;
  }
  .mid-bot img {
    width: 40vw !important;
    float: right;
  }
  .mid-bot p,
  .mid-bot button {
    position: relative;
    top: 3vh;
    margin-right: 1vw;
  }
  .mid-bot button {
    width: 19vw !important;
  }
  .car-view .container {
    max-width: 1200px;
  }
  .car-view .container .singleCar-content-pc {
    max-width: 950px;
  }
  .car-view .container .singleCar-content-pc .price .header p,
  .car-view .container .singleCar-content-pc .price .price-listing p {
    font-size: 16px;
  }
  .car-view .container .singleCar-content-pc .text {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .car-view .container .car-form .buttonWrapper button {
    max-width: 300px;
  }
  .footer .footer-content div .address {
    margin-bottom: -1vh;
  }
  .footer .footer-content div .address p {
    left: 55px;
    top: -30px;
  }
}
/*# sourceMappingURL=styles.css.map */