* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: none;
  width: 100%;
  height: 10vh;
}

nav ul {
  float: right;
  position: relative;
  top: 4vh;
}

nav ul .nav-hide {
  display: none;
}

nav ul li {
  display: inline;
  padding-bottom: 20px;
  margin-right: 2vw;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:hover {
  border-bottom: black solid 2px;
}

.home {
  max-width: 1005px;
  min-height: 70vh;
  text-align: center;
}

.home .home-form-wrapper {
  padding: 10vh 3vw;
}

.home .home-form-wrapper h2 {
  position: relative;
  top: 15vh;
}

.home .home-form-wrapper h3 {
  position: relative;
  text-align: center;
  top: 5vh;
}

.home .home-form-wrapper p {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.home .home-form-wrapper .home-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .home-form-wrapper .home-picker .picker,
.home .home-form-wrapper .home-picker .picker-second {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .home-form-wrapper .home-picker .picker .react-date-picker__wrapper,
.home .home-form-wrapper .home-picker .picker-second .react-date-picker__wrapper {
  width: 43vw;
}

.home .home-form-wrapper input[type="submit"] {
  position: relative;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  margin-top: 30px;
  border-radius: 5px;
  width: 90vw;
  height: 40px;
  border: 1px solid #ff5f5a;
  color: white;
  background-color: #ff5f5a;
}

.home .home-form-wrapper .home-form-selects {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .home-form-wrapper .home-form-selects .form-select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .home-form-wrapper .home-form-selects .form-select select {
  width: 43vw;
  background-color: transparent;
  padding: 0 2px;
  height: 31px;
  border: 1px solid black;
}

.home .home-second {
  background-color: #fafbfc;
  min-height: 60vh;
  width: 100vw;
  padding-top: 5vh;
  border-radius: 16px 16px 0 0;
  text-align: center;
  padding-bottom: 5vh;
}

.home .home-second h2 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.home .home-second .home-second-p {
  margin-bottom: 5vh;
}

.home .home-second .homepage-car {
  height: 17vh;
  background-color: #ffffff;
  font-size: 0.8rem;
  overflow: hidden;
  padding-top: 9px;
  border-bottom: 1px solid transparent;
  width: 280px;
  margin: 0 auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .home-second .homepage-car .homepage-car-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh 5vw 0 5vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .home-second .homepage-car .homepage-car-content .homepage-car-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  height: 100%;
}

.home .home-second .homepage-car .homepage-car-content .homepage-car-text .typ {
  font-weight: 800;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.home .home-second .homepage-car .homepage-car-content .homepage-car-text button {
  margin: 1vh 0;
  border-radius: 5px;
  width: 25vw;
  height: 4vh;
  color: white;
  border: white;
  background-color: #ff5f5a;
}

.home .home-second .homepage-car .homepage-car-content .obr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10vh;
  width: 10vw;
  display: inline;
  margin-top: 4vh;
}

.home .home-second .homepage-car .homepage-car-content .obr img {
  height: 80%;
  width: 90%;
  float: right;
}

.home .home-third {
  width: 100vw;
  padding-top: 5vh;
  text-align: center;
  margin-bottom: 5vh;
}

.home .home-third h3 {
  margin-bottom: 2vh;
}

.home .home-third .home-third-faq {
  width: 80vw;
  margin: 0 auto 10px;
}

.home .home-third .home-third-faq .home-third-faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
  margin: 0;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
}

.home .home-third .home-third-faq .home-third-faq-title h4 {
  width: 70vw;
}

.home .home-third .home-third-faq .home-third-faq-text {
  font-size: 14px;
  line-height: 20px;
}

.fourOhfour {
  min-height: 70vh;
  width: 70vw;
  font-size: 1.3rem;
  margin: 15vh auto;
}

.fourOhfour h2 {
  margin-bottom: 10vh;
}

.fourOhfour a {
  text-decoration: none;
}

.fourOhfour a:hover {
  text-decoration: underline;
}

.footer {
  width: 60%;
  margin: 5vh auto;
  padding-top: 2vh;
}

.footer .footer-head {
  display: none;
}

.footer .one-fourth {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  display: none;
}

.footer .footer-bottom {
  font-size: 0.8rem;
  text-align: center;
}

.auth-wrapp {
  padding: 10vh 0;
}

.auth-wrapp .auth-main {
  width: 400px;
  height: 510px;
  border: none;
  border-radius: 40px;
  margin: 30px auto;
  padding: 10px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.auth-wrapp .auth-main input {
  position: relative;
  left: 75px;
  border: none;
  border: 1px solid #424242;
  margin-top: 35px;
  height: 30px;
  width: 250px;
}

.auth-wrapp .auth-main h3 {
  color: black;
  text-align: center;
  margin-top: 25px;
  font-size: 2rem;
}

.auth-wrapp .auth-main button {
  position: relative;
  left: 85px;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  margin-top: 30px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  color: black;
  background-color: #ff5f5a;
}

.auth-wrapp .auth-main .helper {
  margin: 20px auto;
  font-size: 0.8rem;
}

.auth-wrapp .other {
  margin-top: 3vh;
  text-align: center;
  font-size: 1.3rem;
}

.red-text {
  color: red;
  position: relative;
  top: 10px;
  left: 80px;
}

.user,
.help {
  min-height: 60vh;
  padding-top: 10vh;
}

@media (min-width: 605px) {
  .home-second .home-second-car-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-second .home-second-car-container .homepage-car {
    height: 18vh;
    width: 48vw;
  }
  .home-second .home-second-car-container .homepage-car .homepage-car-content .homepage-car-text {
    width: 40%;
  }
  .home-second .home-second-car-container .homepage-car .homepage-car-content .homepage-car-text button {
    width: 20vw;
  }
  .home-second .home-second-car-container .homepage-car .homepage-car-content .obr {
    width: 60%;
  }
  .home-third-faq {
    width: 90vw;
  }
  .home-third-faq .home-third-faq-title h4 {
    width: 80vw;
    text-align: left;
  }
  .host {
    padding: 10vh 10vw;
    width: 60%;
    margin: 0 auto;
  }
  .footer {
    width: 90%;
    padding: 2vh 2vw;
  }
  .footer .footer-head {
    font-weight: 600;
    text-align: center;
    margin-bottom: 3vh;
    display: block;
  }
  .footer .one-fourth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid grey;
    margin-top: 2vh;
    margin-bottom: 2vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .one-fourth li {
    margin-bottom: 2vh;
    width: 30vw;
  }
}

@media (min-width: 770px) {
  .nav .nav-hide {
    display: inline;
  }
  .auth-wrapp .auth-main {
    border: 1px solid #e6e6e6;
  }
  .home .home-form-wrapper {
    width: 90vw;
    min-height: 60vh;
    margin: 0 auto;
  }
  .home .home-form-wrapper .home-picker .picker,
  .home .home-form-wrapper .home-picker .picker-second {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .home .home-form-wrapper .home-picker .picker .react-date-picker__wrapper,
  .home .home-form-wrapper .home-picker .picker-second .react-date-picker__wrapper {
    width: 195px;
    height: 31px;
  }
  .home h2 {
    font-size: 1.8rem;
  }
  .home p {
    font-size: 1.1rem;
  }
  .home .home-form-selects .form-select select {
    width: 78%;
    height: 31px;
    border: 1px solid black;
  }
  .home input[type="submit"] {
    width: 90%;
    height: 50px;
    margin-top: 8vh;
  }
}

@media (min-width: 770px) and (min-width: 1000px) {
  .home .home-second .homepage-car {
    width: 32vw;
    height: 21vh;
  }
  .home .home-second .homepage-car .homepage-car-content {
    padding: 1vh 2vw 0 2vw;
  }
  .home .home-second .homepage-car .homepage-car-content .homepage-car-text button {
    width: 10vw;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-large {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer .footer-large .footer-head {
    font-size: 1rem;
  }
  .footer .footer-large .one-fourth {
    border: none;
    display: block;
    font-size: 0.8rem;
  }
  .footer .footer-large .one-fourth li {
    width: 20vw;
  }
  .footer .footer-bottom {
    display: none;
  }
  .mid-bot img {
    width: 40vw !important;
    float: right;
  }
  .mid-bot p,
  .mid-bot button {
    position: relative;
    top: 3vh;
    margin-right: 1vw;
  }
  .mid-bot button {
    width: 19vw !important;
  }
}
/*# sourceMappingURL=styles.css.map */