$blue-base-color: #0099ce;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

// ==========================Mobile=======================
// 400+

// navbar
// MOBILE
nav {
  display: none;
}
// small display menu
.burger {
  border-bottom: #656262 solid 1px;
  box-shadow: 0 3px grey;
  text-shadow: 1px 1px black;
  background-color: $blue-base-color;
  color: white;
  height: 64px;
  width: 100vw;
  text-align: center;

  .logo-burger {
    height: 70%;
    width: 90px;
    position: relative;
    top: 15px;
    left: 10px;
    float: left;
  }

  h2 {
    display: inline;
    position: relative;
    text-transform: uppercase;
    top: 15px;
    font-size: 30px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  // burger button when menu is hidden
  .burger-button {
    padding: 10px;
    margin-right: 2vw;
    float: right;
    margin-top: 1vh;
    position: relative;
  }
  // hidden menu
  .hidden-style {
    right: -300px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: $blue-base-color;
    width: 280px;
    transition: 0.5s;
    overflow: hidden;
    .visible-burger-button {
      display: none;
    }
    p {
      display: none;
    }
    ul {
      display: none;
      li {
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        font-weight: 900;
        list-style-type: circle inside;
      }
    }
  }
  .burger-button-hidden {
    display: none;
  }
  .visible-style {
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    border-bottom: 1px solid black;
    background-color: $blue-base-color;
    width: 100vw;
    transition: 0.5s;
    overflow: hidden;
    z-index: 20;
    p {
      width: 100%;
      color: #c8102e;
      background: #fff;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin: 8vh auto 2vh auto;
      padding: 5px 5px;
    }
    .visible-burger-button {
      float: right;
      padding: 10px;
      margin-top: 1.3vh;
      margin-right: 2vw;
      height: 22px;
    }

    ul {
      li {
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        font-weight: 900;
        list-style-type: none;
        text-align: center;
        height: 3vh;
        a {
          color: white;
          font-size: 22px;
        }
      }
    }
  }
}
// home page
// mobile
.home {
  width: 100vw;
  max-width: 1920px;
  min-height: 70vh;
  text-align: center;
  .covid {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: white;
    color: black;
    h2 {
      font-size: 17px;
      margin-top: 2vh;
    }
    p {
      margin: 0 5vw;
      margin-top: 1vh;
      margin-bottom: 2vh;
      font-size: 12px;
    }
  }
  .home-first {
    background-image: url("https://res.cloudinary.com/dsdaneoq8/image/upload/v1621356776/ejede/home-bg_bfrobp.webp");
    background-repeat: no-repeat;
    background-size: 135vh;
    min-height: 75vh;
    background-position-x: -50vw;
    color: white;
    p {
      font-size: 16px;
      position: relative;
      top: 15vh;
    }

    h2 {
      position: relative;
      top: 20vh;
      text-transform: uppercase;
    }

    button {
      position: relative;
      top: 35vh;
      height: 75px;
      width: 220px;
      border-radius: 12px;
      background-color: $blue-base-color;
      border: none;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .home-first-info {
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 1920px;
    color: black;
    padding-bottom: 2vh;

    p {
      font-size: 17px;
      margin-top: 2vh;
      margin-bottom: 2vh;
      text-align: justify;
    }
    h3 {
      font-size: 20px;
      margin: 3vh 0;
    }
  }
  .home-form-wrapper {
    padding: 10vh 3vw;

    h2 {
      position: relative;
      top: 15vh;
    }

    h3 {
      position: relative;
      text-align: center;
      top: 5vh;
    }
    p {
      margin-top: 7vh;
      margin-bottom: 7vh;
    }
    .home-picker {
      border: 1px solid black;
      color: black;
    }
    input[type="submit"] {
      position: relative;
      letter-spacing: 1.5px;
      font-size: 1.5rem;
      margin-top: 30px;
      border-radius: 5px;
      width: 90vw;
      height: 40px;
      border: 1px solid rgb(255, 95, 90);
      color: white;
      background-color: rgb(255, 95, 90);
    }
    .home-form-selects {
      margin-top: 5vh;
      display: flex;
      .form-select {
        flex: 1;
        select {
          width: 43vw;
          background-color: transparent;
          padding: 0 2px;
          height: 31px;
          border: 1px solid black;
        }
      }
    }
  }
  // home second info and icons
  // MOBILE
  .home-second-info {
    width: 100%;
    background-color: $blue-base-color;
    color: white;
    padding-top: 1vh;
    padding-bottom: 3vh;
    .home-second-info-icon-box {
      margin-top: 1vh;
      margin-bottom: 1vh;

      img {
        margin-bottom: 1vh;
        background-color: white;
        border-radius: 15px;
        padding: 6px;
      }

      p {
        padding: 1vh 5vw;
      }
    }
  }

  // second part homepage
  // MOBILE
  .home-second {
    background-color: #fafbfc;
    min-height: 60vh;
    width: 100vw;
    text-align: center;
    padding-bottom: 5vh;

    h2 {
      padding-top: 3vh;
      margin-bottom: 3vh;
    }
    .home-second-p {
      margin-bottom: 5vh;
    }
    .homepage-car {
      height: 17vh;
      background-color: #ffffff;
      font-size: 0.8rem;
      overflow: hidden;
      padding-top: 9px;
      border-bottom: 1px solid transparent;
      margin: 0 5vw 10px;
      display: flex;
      justify-content: space-around;
      border-radius: 20px;

      .homepage-car-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 1vh 5vw 0 5vw;
        justify-content: space-around;

        .homepage-car-text {
          flex: 1;
          text-align: left;
          height: 100%;

          .typ {
            font-weight: 800;
            font-size: 0.9rem;
            margin-bottom: 5px;
          }

          button {
            margin: 1vh 0;
            border-radius: 5px;
            width: 25vw;
            height: 4vh;
            color: white;
            border: white;
            background-color: $blue-base-color;
          }
        }

        .obr {
          flex: 1;
          height: 10vh;
          width: 10vw;
          display: inline;
          margin-top: 4vh;

          img {
            height: 100%;
            width: 100%;
            float: right;
          }
        }
      }
    }
  }

  // third part homepage
  .home-third {
    width: 100vw;
    padding-top: 5vh;
    text-align: center;
    margin-bottom: 5vh;

    h3 {
      margin-bottom: 2vh;
    }

    .home-third-faq {
      width: 80vw;
      margin: 0 auto 10px;

      .home-third-faq-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        padding: 12px 0;
        margin: 0;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid grey;

        h4 {
          width: 70vw;
        }
      }

      .home-third-faq-text {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

// Osobni udaje
// MOBILE
.osobni-udaje,
.about,
.terms {
  padding: 5vh 5vw;
  h2,
  h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  p {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  ul {
    li {
      // list-style-type: none;
      margin-top: 1vh;
    }
  }
}

// car
// MOBILE
.car-view {
  width: 100vw;
  max-width: 1920px;
  min-height: 70vh;
  .container {
    width: 90vw;
    padding: 10px;
    margin: 5vh auto;
    .ready-slider {
      width: 100%;
      margin: 0 auto;
    }
    .singleCar-content-pc {
      display: block;
      h2 {
        text-align: center;
        margin-top: 3vh;
        margin-bottom: 3vh;
      }
      p {
        display: block;
        margin-bottom: 2vh;
        text-align: center;
        .bold {
          font-weight: 650;
          color: #bb4f4f;
        }
      }
      .price {
        width: 80vw;
        margin: auto;
        display: flex;
        text-align: center;
        .header,
        .price-listing {
          display: flex;
          flex-direction: column;
          width: 40vw;
          p {
            padding-bottom: 6px;
            border-bottom: 1px solid #777;
            margin: 15px;
          }
        }
      }
      .text {
        margin-bottom: 4vh;
        text-align: center;
        margin-top: 5vh;
      }
    }
    .car-form {
      margin-top: 10px;
      font-family: monospace;
      margin: 1vh auto;
      width: 360px;
      max-width: 600px;
      text-align: center;

      h2 {
        text-align: center;
        margin-top: 3vh;
        padding-top: 5vh;
        margin-bottom: 3vh;
      }

      .predmet {
        margin-top: 2vh;
        margin-bottom: 15px;
        .grey {
          margin-bottom: 5vh;
          color: #777;
        }
      }
      .grey {
        margin-bottom: 5vh;
        color: #777;
      }
      h3 {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 3vh;
        color: #bb4f4f;
        text-align: center;
      }

      label,
      p {
        display: block;
        text-align: center;
        margin-top: 10px;
        letter-spacing: 0.09rem;
      }

      input {
        margin: 5px auto;
        height: 30px;
        text-align: center;
        font-size: 20px;
        background-color: #e9ecef;
        border: none;
        border-radius: 12px;
        width: 360px;
        max-width: 600px;
      }

      .notes {
        height: 60px;
        text-align: left;
        font-size: 15px;
        margin-bottom: 2vh;
      }

      .form-error {
        color: #e1251b;
        text-align: center;
        margin: 5px 0;
        font-size: 15px;
        font-weight: 600;
      }

      .buttonWrapper {
        width: 100%;
        text-align: center;

        button {
          height: 45px;
          width: 40vw;
          margin-bottom: 5vh;
          border: none;
          color: white;
          font-weight: 650;
          background-color: $blue-base-color;
          align-content: center;
          box-shadow: 2px 2px 3px 1px #000;
          letter-spacing: 0.1rem;
          font-size: 16px;
          text-transform: uppercase;
          border-radius: 12px;
        }
      }
    }
  }
}

// Pobocka
// MOBILE
.pobocka {
  margin-bottom: 62vh;
  .pobocka-content {
    width: 100vw;
    position: relative;
    top: 60vh;

    .form-wrapper {
      margin-top: 10px;
      padding: 0 5vw;
      font-family: monospace;

      h2 {
        text-align: center;
        margin-top: 3vh;
        padding-top: 5vh;
        margin-bottom: 3vh;
      }
      p {
        text-align: center;
        margin-bottom: 5vh;
        color: #777;
      }
      h3 {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 3vh;
        color: #bb4f4f;
        text-align: center;
      }
      label {
        display: block;
        text-align: center;
        margin-top: 10px;
        letter-spacing: 0.09rem;
      }

      input {
        margin: 5px auto;
        width: 90vw;
        height: 30px;
        text-align: center;
        font-size: 20px;
        background-color: #e9ecef;
        border: none;
        border-radius: 12px;
      }

      .notes {
        height: 60px;
        text-align: left;
        font-size: 15px;
        margin-bottom: 2vh;
      }

      .form-error {
        color: #e1251b;
        text-align: center;
        margin: 5px 0;
        font-size: 15px;
        font-weight: 600;
      }

      .buttonWrapper {
        width: 100%;
        text-align: center;

        button {
          height: 45px;
          width: 40vw;
          margin-bottom: 5vh;
          border: none;
          color: white;
          font-weight: 650;
          background-color: $blue-base-color;
          align-content: center;
          box-shadow: 2px 2px 3px 1px #000;
          letter-spacing: 0.1rem;
          font-size: 16px;
          text-transform: uppercase;
          border-radius: 12px;
        }
      }
    }

    .place {
      padding: 3vh 5vw;

      h3 {
        font-size: 22px;
        margin-bottom: 2vh;
      }
      img {
        height: 20px;
        position: relative;
        top: 18px;
        left: -10px;
      }
      p {
        margin-bottom: 2vh;
        margin-left: 15px;
        line-height: 20px;
        .thick {
          font-weight: 700;
        }
      }
    }

    .hours {
      padding: 3vh 5vw;

      h3 {
        font-size: 22px;
        margin-bottom: 2vh;
      }
      img {
        height: 20px;
        position: relative;
        top: 18px;
        left: -10px;
      }
      p {
        margin-bottom: 2vh;
        margin-left: 15px;
        line-height: 20px;
      }
    }
  }
}

//footer
//MOBILE

.footer {
  background-color: #212529;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 2vw;
  div {
    margin-bottom: 1vh;

    h3 {
      color: white;
      margin-bottom: 2vh;
      font-size: 16px;
    }

    p {
      color: #777;
      margin-bottom: 1vh;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      li {
        list-style-type: none;
        margin-bottom: 1vh;
        a {
          color: #777;
          text-decoration: none;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .footer-media {
    margin-bottom: 2vh;
    img {
      margin-right: 2vw;
    }
  }
  .footer-contact {
    img {
      height: 20px;
      margin-right: 30px;
    }
    .address {
      display: inline-block;
      position: relative;
      top: 1vh;
    }
    p {
      display: inline;
      position: relative;
      top: -0.5;
    }
  }
  .footer-places {
    p {
      &:hover {
        color: white;
      }
    }
  }
}

//browse page
//mobile
.browse {
  background-color: #f8f7f7;
  width: 100vw;
  min-height: 70vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  .browse-container {
    background-color: #f8f8ff;
    width: 90vw;
    padding: 10px;
    min-height: 70vh;
    margin: 0 auto;
    h2 {
      text-align: center;
      margin-bottom: 3vh;
      margin-top: 3vh;
    }
    .sort-and-order {
      display: flex;
      flex-direction: row-reverse;
      .sort {
        height: 45px;
        margin-bottom: 3vh;
        margin-right: 10px;

        p {
          margin-right: 10px;
          font-size: 18px;
          display: inline-block;
          position: relative;
          top: 5px;
        }

        select {
          float: right;
          padding: 4px;
          font-size: 15px;
          position: relative;
        }
      }
      .show-in-order {
        button {
          padding: 5px;
          background-color: white;
          border: 1px solid black;
          font-size: 16px;
        }
      }
    }
    .browse-top {
      width: 100%;
      height: 10vh;
      margin-bottom: 5vh;
      p {
        padding-right: 2vw;
        padding-left: 2vw;
        color: #777;
      }
    }
    .singleCar {
      background-color: white;
      margin-bottom: 4vh;
      h3 {
        font-size: 25px;
      }
      p {
        padding-top: 5px;
        .bold {
          font-weight: 650;
          color: #e1251b;
        }
      }
      .singleCar-content {
        padding: 10px;
        .singleCar-content-img {
          img {
            max-width: 350px;
            width: 100%;
            height: auto;
          }
          .singleCar-content-tablet {
            display: none;
          }
          .singleCar-content-pc {
            display: none;
          }
        }

        .singleCar-content-text {
          display: flex;
          margin: 1vh auto;
          height: 5vh;
          padding-top: 1vh;
          border-top: 1px solid #777;
          border-bottom: 1px solid #777;
          p {
            flex: 1;
            text-align: center;
            img {
              vertical-align: bottom;
              width: 24px;
            }
          }
        }
        .singleCar-bottom {
          width: 100%;
          height: 5vh;
          margin: 1vh 0;
          p {
            float: left;
            padding-top: 10px;
            .bold {
              font-weight: 650;
              font-size: 18px;
              color: #e1251b;
            }
          }
          button {
            float: right;
            width: 100px;
            height: 35px;
            color: white;
            background-color: $blue-base-color;
            border-radius: 5px;
            font-weight: 650;
          }
        }
      }
    }
    .pagination-buttons {
      margin: 10vh auto 2vh;
      width: 10vw;
      height: 7vh;
      color: white;
      font-weight: 650;
      clear: both;
      button {
        height: 5vh;
        width: 3vw;
        color: black;
        background-color: white;
        border-radius: 6px;
        margin-left: 1vw;
        border: 1px solid #0099ce;
      }
    }
  }
}

// 404
.fourOhfour {
  min-height: 70vh;
  width: 70vw;
  font-size: 1.3rem;
  margin: 15vh auto;
  h2 {
    margin-bottom: 10vh;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}
// User page
// MOBILE
.user {
  min-height: 60vh;
  padding-top: 5vh;
  width: 100vw;
  max-width: 1920px;
  h2 {
    text-align: center;
  }
  .user-info {
    padding: 5vh 5vw;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8f8f8;
    h2 {
      text-align: center;
    }
    img {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block;
    }
    h2 {
      margin: 2vh 0 5vh;
      text-align: center;
    }
    .show-all-booking-to-user {
      text-align: center;

      .single-booking {
        width: 100%;
        margin: 2vh auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        background-color: #f8f8f8;
        .dates {
          .red {
            color: #c8102e;
            font-weight: 600;
          }
        }
        .red {
          color: #c8102e;
          font-weight: 600;
        }
        img {
          width: 60vw;
          margin-bottom: 4vh;
        }
        p {
          margin-bottom: 2vh;
        }
        .delete-booking-buttons {
          .delete {
            background-color: #c8102e;
            color: white;
            font-weight: 600;
            width: 40vw;
            max-width: 170px;
            height: 40px;
          }
          .delete-confirmation {
            width: 60vw;
            margin: 5vh auto;
            h3 {
              margin-bottom: 3vh;
            }
            .delete-confirmation-buttons {
              display: flex;

              button {
                height: 40px;
                width: 40vw;
                max-width: 170px;
                background-color: $blue-base-color;
                color: white;
                font-weight: 650;
              }
              button:first-of-type {
                background-color: #c8102e;
                margin-right: 3vw;
              }
            }
          }
        }
      }
    }
  }
}

//===========================TABLET=================================
// 605px +

@media (min-width: 605px) {
  // Osobni udaje
  // TABLET
  .osobni-udaje,
  .terms,
  .about {
    width: 80vw;
    padding: 5vh 3vw;
    margin-left: auto;
    margin-right: auto;
  }

  .user {
    .user-info {
      .show-all-booking-to-user {
        .single-booking {
          img {
            max-width: 360px;
            height: 160px;
          }
          .dates {
            display: flex;
            max-width: 480px;
            margin: 0 auto;
            justify-content: space-evenly;
            p:first-of-type {
              margin-right: 2vw;
            }
          }
        }
      }
    }
  }

  //car
  // TABLET

  .car-view {
    .container {
      .singleCar-content-pc {
        display: block;
        padding-left: 3vw;
        padding-left: 2vw;
        margin: 0 auto;

        h2 {
          margin-top: 0;
          margin-bottom: 1vh;
          padding-left: 2vw;
          text-align: left;
        }
        p {
          display: block;
          padding-left: 2vw;

          .bold {
            font-weight: 650;
            color: #bb4f4f;
          }
        }
        p:first-of-type {
          margin-bottom: 1vh;
          text-align: left;
        }
        .price {
          padding-left: 0;
          display: block;
          width: 100%;
          .header {
            display: flex;
            font-weight: 650;
            color: #bb4f4f;
            margin-bottom: 10px;
            border-bottom: 1px solid #777;
            flex-direction: row;
            width: 100%;
            p {
              width: 9vw;
              border-bottom: none;
              margin-left: 1vw;
              padding-left: 1vw;
              font-size: 12px;
            }
          }
          .price-listing {
            color: #777;
            display: flex;
            flex-direction: row;
            width: 100%;
            p {
              width: 9vw;
              border-bottom: none;
              margin-left: 1vw;
              padding-left: 1vw;
              font-size: 12px;
            }
          }
        }
        .text {
          display: flex;
          flex-wrap: wrap;
          margin-top: 3vh;
          p {
            width: 30%;
            margin-bottom: 2vh;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
          }
        }
      }
      .car-form {
        width: 600px;
        input {
          width: 600px;
        }
      }
    }
  }

  // Pobocka
  // TABLET
  .pobocka {
    max-width: 1920px;

    .pobocka-content {
      .form-wrapper {
        text-align: center;
        .form-error {
          margin-left: auto;
          margin-right: auto;
        }
        input,
        select,
        p {
          width: 70vw;
          max-width: 600px;
          margin-left: auto;
          margin-right: auto;
        }
        .buttonWrapper {
          button {
            max-width: 350px;
            margin-bottom: 10vh;
          }
        }
      }
    }
  }

  //navbar
  // TABLET
  .burger {
    display: none;
  }
  // show inline menu
  .nav {
    display: block;
    width: 100%;
    background-color: $blue-base-color;
    height: 10vh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #656262 solid 1px;
    box-shadow: 0 3px grey;

    .logo-burger,
    h2 {
      display: none;
    }
    ul {
      float: right;
      position: relative;
      top: 4vh;
      display: inline;
      li {
        display: inline;
        padding-bottom: 10px;
        margin-right: 3vw;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover {
          border-bottom: white solid 2px;
        }
      }
    }
  }

  //homepage
  // TABLET
  .home {
    margin-left: auto;
    margin-right: auto;
    .covid {
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
      }
    }
    .home-first {
      background-position-x: -10vw;

      h2 {
        margin-left: 3vw;
        margin-right: 3vw;
      }
    }
    .home-first-info {
      padding-left: 10vw;
      padding-right: 10vw;
    }
    .home-second-info {
      padding-left: 10vw;
      padding-right: 10vw;
      width: 80vw;
      max-width: 1920px;
      .home-second-info-icon-box {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        p {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
    .home-second {
      .home-second-car-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .homepage-car {
          height: 18vh;
          width: 40vw;
          .homepage-car-content {
            .homepage-car-text {
              width: 40%;
              button {
                width: 35vw;
                max-width: 150px;
              }
            }
            .obr {
              width: 60%;
              img {
                width: 130%;
                height: 130%;
                position: relative;
                top: -4vh;
                left: 3vw;
              }
            }
          }
        }
      }
    }

    .home-third-faq {
      width: 90vw;

      .home-third-faq-title {
        h4 {
          width: 80vw;
          text-align: left;
        }
      }
    }
  }

  //FOOTER
  // TABLET
  .footer {
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 1920px;
    .footer-content {
      display: flex;
      max-width: 1200px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      div {
        width: 25vw;
      }
    }
  }
  //browse
  // TABLET
  .browse {
    // background-color: white;
    padding-top: 0;
    .browse-container {
      padding-top: 5vh;
      max-width: 630px;
      background-color: white;

      .browse-top {
        p {
          text-align: center;
        }
      }

      .singleCar {
        border-top: 1px solid #777;
        h3,
        p {
          padding-left: 2vw;
        }

        .singleCar-content {
          .singleCar-content-img {
            display: flex;

            .singleCar-content-tablet {
              display: block;
              flex: 1;
              margin: auto 0;
              img {
                display: inline-block;
                width: 24px;
                height: 24px;
              }
              p {
                line-height: 24px;
                position: relative;
                top: -28px;
                left: 25px;
              }
            }
            img {
              flex: 1;
              max-width: 300px;
              height: 175px;
            }
          }

          .singleCar-content-text {
            height: 3vh;
            padding-bottom: 2vh;

            p {
              text-align: center;
              img {
                width: 24px;
              }
            }
          }
          .singleCar-bottom {
            margin: 1vh 0;
            button {
              width: 150px;
              font-size: 1.1rem;
              position: relative;
              top: 5px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .nav {
    .logo-burger {
      display: block;
      height: 50%;
      width: 90px;
      position: relative;
      top: 20px;
      left: 10px;
      float: left;
    }
  }
}

//========================PC large==========================
// 1000+
@media (min-width: 1000px) {
  // Osobni udaje
  // PC
  .osobni-udaje,
  .terms,
  .about {
    max-width: 900px;
    min-height: 50vh;
  }

  // user page
  // PC
  .user {
    .user-info {
      .show-all-booking-to-user {
        .single-booking {
          display: flex;
          justify-content: space-around;
          .car-img {
            margin: 0 0;
          }
          .dates {
            display: block;
            max-width: 480px;
            margin: 0 0;
            p:first-of-type {
              margin-right: 0;
            }
          }
          .delete-booking-buttons {
            .delete-confirmation {
              max-width: 170px;
              margin: 2vh auto;
              h3 {
                margin-bottom: 10px;
              }

              .delete-confirmation-buttons {
                display: block;
                margin-top: 0;
                button:first-of-type {
                  margin-right: 0;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  // navbar
  // PC
  .nav {
    div {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      .logo-burger {
        height: 70%;
        width: 130px;
        top: 30px;
        left: 30px;
      }
    }
  }
  //browse
  // PC
  .browse {
    width: 100%;

    .browse-container {
      max-width: 1200px;
      .singleCar {
        width: 100%;
        height: 40vh;
        border-top: none;
        border-bottom: none;
        margin-top: 10vh;
        div:first-of-type {
          margin-top: 0;
        }
        p,
        h3 {
          display: none;
        }

        .singleCar-content {
          .singleCar-content-img {
            .singleCar-content-tablet {
              display: none;
            }
            .singleCar-content-pc {
              display: block;
              padding-left: 3vw;
              padding-left: 2vw;

              h2 {
                margin-top: 0;
                margin-bottom: 1vh;
                padding-left: 2vw;
                text-align: left;
              }
              p {
                display: block;
                padding-left: 2vw;

                .bold {
                  font-weight: 650;
                  color: #bb4f4f;
                }
              }
              p:first-of-type {
                margin-bottom: 1vh;
              }
              .price {
                padding-left: 2vw;

                .header {
                  display: flex;
                  font-weight: 650;
                  color: #bb4f4f;
                  margin-bottom: 10px;
                  border-bottom: 1px solid #777;
                  p {
                    width: 4vw;
                  }
                }
                .price-listing {
                  color: #777;
                  display: flex;
                  p {
                    width: 4vw;
                  }
                }
              }
              .text {
                display: flex;
                flex-wrap: wrap;
                margin-top: 3vh;
                p {
                  width: 28%;
                  margin-bottom: 2vh;
                }
              }
            }
          }
          .singleCar-content-text {
            border: none;
            display: none;
          }
          .singleCar-bottom {
            p {
              display: block;
              position: relative;
              top: -11vh;
            }
            button {
              top: 0;
              width: 200px;
              height: 50px;
              float: none;
              margin-left: 110px;
            }
          }
        }
      }
    }
  }

  // homepage
  // pc
  .home {
    .home-first {
      background-position-x: 0;
      background-position-y: -10vh;
      background-size: auto auto;
    }

    .home-first-info {
      //   padding-left: 350px;
      //   padding-right: 350px;
      p {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .home-second-info {
      max-width: 1920px;
    }
    .home-second {
      max-width: 1920px;
      .home-second-car-container {
        .homepage-car {
          width: 27vw;
          height: 18vh;
          margin-left: 2vw;
          margin-right: 1vw;

          .homepage-car-content {
            padding: 1vh 2vw 0 2vw;
            .obr {
              img {
                left: 1vw;
              }
            }
            .homepage-car-text {
              button {
                width: 10vw;
              }
            }
          }
        }
      }
    }
  }

  // pobocka
  // PC
  .pobocka {
    position: relative;
    top: 25px;
    .pobocka-content {
      display: flex;
      justify-content: space-evenly;
      .form-wrapper {
        h2 {
          padding-top: 0;
          margin-top: 2vh;
        }
      }
      .place {
        padding-top: 4vh;
      }
    }
  }

  .mid-bot {
    img {
      width: 40vw !important;
      float: right;
    }
    p,
    button {
      position: relative;
      top: 3vh;
      margin-right: 1vw;
    }
    button {
      width: 19vw !important;
    }
  }

  // car
  // PC
  .car-view {
    .container {
      max-width: 1200px;
      .singleCar-content-pc {
        max-width: 950px;
        .price {
          .header,
          .price-listing {
            p {
              font-size: 16px;
            }
          }
        }
        .text {
          flex-wrap: nowrap;
        }
      }
      .car-form {
        .buttonWrapper {
          button {
            max-width: 300px;
          }
        }
      }
    }
  }

  // Footer
  // PC
  .footer {
    .footer-content {
      div {
        .address {
          margin-bottom: -1vh;
          p {
            left: 55px;
            top: -30px;
          }
        }
      }
    }
  }
}
